 <div class="container" appearence="outline" style="display: flex; align-items: center; justify-content: center;">
  <h1>Yönetici Paneli</h1>
</div>

<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile *ngFor="let tile of tiles"  matTooltip={{tile.tooltip}} (click)="navigate(tile.route)"
  [colspan]="tile.cols"
  [rowspan]="tile.rows"
  [style.background]="tile.color">
    <button  class="display" mat-button (click)="navigate(tile.route)">
    <mat-icon aria-label="label" class="icon-display">{{tile.icon}}</mat-icon>
    {{tile.text}}

  </button>

